.flex {
    display: flex;
    flex-direction: column;
}

.chart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f0f4f8;
    border-radius: 8px;
}

/* TABLA */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-foreground);
}

.table th {
    background-color: var(--color-light-gray);
    font-weight: bold;
    color: var(--color-secondary);
}

.table td {
    background-color: var(--color-background);
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

/* GRID */
.grid {
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item1 {
    grid-column: span 1;
}

.item2 {
    grid-column: span 1;
}

.item3 {
    grid-column: span 1;
}

.item4 {
    grid-column: span 1;
}

.item5 {
    grid-column: span 2;
}

.item6 {
    grid-column: span 2;
}

.item7 {
    grid-column: span 1;
}

.item8 {
    grid-column: span 1;
}

.item9 {
    grid-column: span 1;
}