.card {
    background-color: var(--color-light-gray);
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-border);
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-secondary);
}

.infoIcon {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 14px;
    color: var(--color-secondary);
    cursor: pointer;
    align-self: flex-start;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}