name: Create Feature Branch

on:
  issues:
    types: [opened, edited]

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'

    - name: Create a branch
      run: |
        ISSUE_NUMBER=${{ github.event.issue.number }}
        ISSUE_TITLE="${{ github.event.issue.title }}"
        CAMEL_CASE_TITLE=$(echo $ISSUE_TITLE | sed -E 's/(^|-)([a-z])/\U\2/g' | sed -E 's/[ -]//g')
        BRANCH_NAME="feature/$ISSUE_NUMBER/$CAMEL_CASE_TITLE"
        
        echo "Creating branch $BRANCH_NAME"
        
        git checkout -b "$BRANCH_NAME"
        git push origin "$BRANCH_NAME"

    - name: Add branch to the issue
      run: |
        ISSUE_NUMBER=${{ github.event.issue.number }}
        ISSUE_TITLE="${{ github.event.issue.title }}"
        CAMEL_CASE_TITLE=$(echo $ISSUE_TITLE | sed -E 's/(^|-)([a-z])/\U\2/g' | sed -E 's/[ -]//g')
        BRANCH_NAME="feature/$ISSUE_NUMBER/$CAMEL_CASE_TITLE"
        gh issue comment $ISSUE_NUMBER --body "Branch created: $BRANCH_NAME"
